<html ng-app="Myapp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   <script src = "module.js"></script>
   
    </head>
     <body >
         <h1>

        {{ 1+2 }}
         </h1>

         <div ng-controller ="MyController">
             <input typr= "text" ng-model ="message">
            </input>
             {{message}}
             </div>

             <div ng-controller="Student">
                 FirstName : {{Studentt.FirstName}}
                 <br>
                 LastName : {{Studentt.LastName}}

                </body>
</html>